spack:
  specs:
  - cable@git.{{ ref }}
  - cable@git.{{ ref }} library=access-esm1.6
  packages:
    all:
      require:
      - '%intel@2021.10.0'
      - target=x86_64
  concretizer:
    unify: false
  view: false
