spack:
  specs:
  - cable@git.{{ ref }}

  packages:
    intel-oneapi-compilers-classic:
      require:
      - '@{{ oneapi_compiler_ver }}'

    all:
      require:
      - '%access_intel'  # https://github.com/ACCESS-NRI/spack-config/blob/main/v1.1/toolchains.yaml
      - target={{ target }}

  concretizer:
    unify: false
  view: false
