spack:
  specs:
  - cable@git.{{ ref }}
  packages:
    intel-oneapi-compilers-classic:
      require:
      - '@2021.10.0'
    all:
      require:
      - '%access_intel'
      - target=x86_64
  concretizer:
    unify: false
  view: false
