spack:
  specs:
  - cable@git.{{ ref }} ~mpi library=access-esm1.6

  packages:
    gcc:
      require:
      - '@{{ gcc_compiler_ver }}'

    all:
      require:
      - '%access_gcc'
      - 'target={{ target }}'

  concretizer:
    unify: false
  view: false
