spack:
  specs:
  - cable@git.{{ ref }} ~mpi library=access-esm1.6

  packages:
    intel-oneapi-compilers-classic:
      require:
      - '@{{ oneapi_compiler_ver }}'

    all:
      require:
      - '%access_intel'
      - 'target={{ target }}'

  concretizer:
    unify: false
  view: false
