spack:
  include:
  # Include configuration from this repository, with the environment variable defined in build-ci
  - path: $SPACK_MANIFEST_REPOSITORY_PATH/.github/build-ci/config
  specs:
  - cable@git.{{ ref }} ~mpi library=access3
  packages:
    all:
      require:
      - '%access_gcc'
  view: false
