spack:
  specs:
  # package is defined in the workflows inputs.spack-manifest-data-pairs
  # gcc_compiler_ver is defined in the standard_definitions.json data file
  - '{{ package }} +mpi library=access3'
  - '{{ package }} ~mpi library=access3'
  packages:
    gcc:
      require:
        - '{{ gcc_compiler_ver }}'
    all:
      require:
        - '%access_gcc'
        - 'target={{ target }}'
  concretizer:
    unify: false
  view: false
