site_name: CABLE Docs

# Needed to generate the canonical_url for each pages that are 
# then used to create the sitemap for search engine indexing
site_url: https://cable-lsm.github.io/CABLE/
# Git repository
repo_url: https://github.com/CABLE-LSM/CABLE
repo_name: CABLE
# Material default to a "master" branch, need to change to "main"
edit_uri: edit/main/documentation/docs
docs_dir: docs

theme:
  name: material
  palette:
    - scheme: light
      primary: red
      accent: deep orange
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to dark mode
    - scheme: slate
      primary: red
      accent: deep orange
      toggle:
        icon: material/toggle-switch
        name: Switch to light mode

  features:
    - navigation.instant
    - navigation.indexes
    - navigation.tabs
    - navigation.tabs.sticky

extra_css:
  - css/cable.css

plugins:
  - git-revision-date-localized:
      type: date
      enable_creation_date: true
  - search
  - macros

markdown_extensions:
  - pymdownx.arithmatex:
      generic: true
  - admonition
  - pymdownx.details
  - def_list
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
  - attr_list
  - md_in_html
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg


extra_javascript:
  - javascripts/mathjax.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js
  
# Navigation
nav:
  - About: 
    - index.md
  - User Guide:
    - user_guide/index.md
    - Uber Quick Guide: user_guide/uber_quick_guide.md
    - Installation: user_guide/installation.md
    - Tutorial:
      - Understand the configuration: user_guide/tutorial/configuration_desc.md
      - Run an experiment: user_guide/tutorial/run_cable.md
    - Inputs description:
      - List of inputs: user_guide/inputs/list_inputs.md
      - Inputs precedence rules: user_guide/inputs/precedence.md
      - cable.nml options: user_guide/inputs/cable_nml.md
      - pft_params.nml options: user_guide/inputs/pft_params_nml.md
      - cable_soilparm.nml options: user_guide/inputs/cable_soilparm_nml.md
    - Outputs description: 
      - user_guide/outputs/index.md
    - Existing configurations: user_guide/configurations/config.md
    - Scientific description: 
      - Radiation: user_guide/science/radiation.md
      - Canopy: user_guide/science/canopy.md
      - Soil: user_guide/science/soil.md
      - Snow: user_guide/science/snow.md
      - Groundwater: user_guide/science/groundwater.md
      - CASA: user_guide/science/CASA.md
    - Obsolete and deprecated features: user_guide/obsolete_and_deprecated_features/obsolete_and_deprecated_features.md
  - Developer Guide:
    - developer_guide/index.md
    - Contribution flowchart: developer_guide/contribution_flowchart.md
    - Documentation guidelines: 
      - developer_guide/documentation_guidelines/index.md
      - Scientific documentation: developer_guide/documentation_guidelines/science_doc.md
      - Cheat Sheets: developer_guide/documentation_guidelines/cheat_sheets.md
    - Coding standards: developer_guide/coding_standards.md
    - CABLE's release process: developer_guide/release.md
    - API documentation: developer_guide/api.md
    - Obsolete and deprecated features: developer_guide/obsolete_and_deprecated_features/obsolete_and_deprecated_features.md
  - How-to:
    - How to prepare fields for CABLE: how-to/input_fields.md
    - How to work with 1D arrays: how-to/1D.md
      
